<div class="container">
  <div class="mx-auto my-5 shadow-lg p-5">
    <h4 class="text-center py-2">AITS Idea</h4>
    <div class="alert alert-info mx-auto my-2">
      <p class="text-center m-0">Access and manage your instances from this AITS account.</p>
    </div>
    <hr class="text-muted">

    <form class="px-3 py-2">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Your Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

      <div>
        <button class="btn btn-primary w-100">Signup</button>
      </div>
    </form>

    <footer>
      <p><a routerLink="/auth/login">I already have an account</a></p>

      <p>
        We will handle your personal data as described in our Privacy Policy.
      </p>
    </footer>

  </div>
</div>
