<div class="control row p-8">
  <div class="search-wrapper column col-6">
    <div class="search row center-y pr-8">
      <div class="search-area mr-2">
        <select>
          <option value="1">global</option>
          <option value="1">global</option>
          <option value="1">global</option>
          <option value="1">global</option>
          <option value="1">global</option>
        </select>
      </div>
      <div class="search-box col">
        <text-field id="search" placeholder="Search anything..." autocomplete="off"></text-field>
      </div>
    </div>
    <div class="suggestions row mt-2">
      <a class="px-4 py-1 mr-2" role="button" href="">Hello</a>
      <a class="px-4 py-1 mr-2" role="button" href="">Hello</a>
      <a class="px-4 py-1 mr-2" role="button" href="">Hello</a>
      <a class="px-4 py-1 mr-2" role="button" href="">Hello</a>
      <a class="px-4 py-1 mr-2" role="button" href="">Hello</a>
    </div>
  </div>
  <div class="news col-6">
    news
  </div>
</div>
