@import "src/styles";
nav {
  background: $primary;
  color: $white;

  .menus {
    a {
      color: $white;
      opacity: 0.8;
      text-decoration: none;
    }
  }

  .user-control {
    .avatar-wrapper {
      width: 2em;
      height: 2em;
    }
  }
}
