<nav class="row px-8 py-2 center-y">
  <div class="launcher">
    <fa-icon role="button" [icon]="apps"></fa-icon>
  </div>

  <div class="current-app col row mx-4">
    <h3 class="mr-4">{{currentApp.name}}</h3>

    <div class="menus row center-y">
      <a href="" role="button" tabindex="0" class="px-2">Courses</a>
      <a href="" role="button" tabindex="0" class="px-2">Examination</a>
      <a href="" role="button" tabindex="0" class="px-2">Settings</a>
    </div>
  </div>

  <div class="user-control row center-y hide-on-mobile">
    <fa-icon role="button" [icon]="chat"></fa-icon>
    <fa-icon class="mx-4" role="button" [icon]="clock"></fa-icon>
    <div class="user row center-y" role="button">
      <div class="avatar-wrapper mr-2">
        <img class="avatar" src="/assets/avatars/user-default.png" alt="avatar">
      </div>
      <h4 class="username">Username</h4>
    </div>
  </div>
</nav>


<!--<button (click)="logout()">Logout</button>-->
